@model IEnumerable<Client>


@{
    ViewData["Title"] = "Index";
}

<section class="m-1 p-2">

    <h1 class="text-center m-5">Clientes</h1>

    <div class="mb-5">
        <a asp-action="Create" class="btn btn-primary">Adicionar cliente</a>
    </div>

    <table class="table mt-3" id="ClientTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientBirthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientAlternateContact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientEmail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientBirthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientAlternateContact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientEmail)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ClientId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClientId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>