@model ClinicSoftware.Models.Procedure

@{
    ViewData["Title"] = "Excluir";
}

<h3>Realmente deseja exlcuir esse procedimento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedurePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedurePrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProcedureId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
