@model ClinicSoftware.Models.Procedure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedurePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedurePrice)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.ProcedureId}) |
    <a asp-action="Index">Voltar para lista</a>
</div>
